{# tutorial/templates/players.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.barRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.pointLabels.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            var s1 = {{ fpts }};
            var ticks = {{ periods }};
            var plot1 = $.jqplot('fpts_by_period', [s1], {
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {fillToZero: true}
                },
                series:[
                    {label:'Fpts'},
                ],
                legend: {
                    show: true,
                    placement: 'outsideGrid'
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ticks
                    },
                    yaxis: {
                        pad: 1.05,
                        tickOptions: {formatString: '%d'}
                    }
                }
            });
        });
        </script>
        <link rel="stylesheet" href="{{ STATIC_URL }}jqplot/jquery.jqplot.min.css">
    </head>
    <body>
        Average Fpts: {{ average }}
        <div id="fpts_by_period" style="width: 1200px"></div>
        <br />
        {% render_table players %}
    </body>
</html>