{# tutorial/templates/players.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}jqplot/jquery.jqplot.min.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.pieRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.donutRenderer.min.js"></script>
    </head>
    <body>
      {% for team_id, team_average, data, fpts in teams %}
        <h3>Team {{ team_id }}</h3>
        <h2>{{ team_average }}</h2>
        {% render_table data %}
        <div id="{{ team_id }}" style="height : 500px"></div>
        <script type="text/javascript">
        $(document).ready(function(){
          {% autoescape off %}
          var data = {{ fpts }}
          {% endautoescape %}

          var plot1 = jQuery.jqplot ('{{ team_id }}', [data],
            {
              seriesDefaults: {
                // Make this a pie chart.
                renderer: jQuery.jqplot.PieRenderer,
                rendererOptions: {
                  // Put data labels on the pie slices.
                  // By default, labels show the percentage of the slice.
                  showDataLabels: true
                }
              },
              legend: { show:true, location: 'w' }
            }
          );
        });
        </script>
      {% endfor %}
    </body>
</html>