{# tutorial/templates/players.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
        {% render_table team1 %}
        {% render_table team2 %}
        {% render_table team3 %}
        {% render_table team4 %}
        {% render_table team5 %}
        {% render_table team6 %}
        {% render_table team7 %}
        {% render_table team8 %}
    </body>
</html>