{# tutorial/templates/players.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.pieRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqplot/plugins/jqplot.donutRenderer.min.js"></script>
    </head>
    <body>
      {% for team_id, team_average, data in teams %}
        <h3>Team {{ team_id }}</h3>
        <h2>{{ team_average }}</h2>
        {% render_table data %}
        <div id="team{{ team_id }}"></div>
        <script type="text/javascript">
        $(document).ready(function(){
          var s1 = [['a',6], ['b',8], ['c',14], ['d',20]];
          var s2 = [['a', 8], ['b', 12], ['c', 6], ['d', 9]];

          var plot3 = $.jqplot('team{{ team_id }}', [s1, s2], {
            seriesDefaults: {
              // make this a donut chart.
              renderer:$.jqplot.DonutRenderer,
              rendererOptions:{
                // Donut's can be cut into slices like pies.
                sliceMargin: 3,
                // Pies and donuts can start at any arbitrary angle.
                startAngle: -90,
                showDataLabels: true,
                // By default, data labels show the percentage of the donut/pie.
                // You can show the data 'value' or data 'label' instead.
                dataLabels: 'value'
              }
            }
          });
        });
        </script>
      {% endfor %}
    </body>
</html>